@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    background-image: url(pictures/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Inter', sans-serif;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color: black;
    position: relative;
    padding: 0 20%;
    background-color: #72a7c888;
}

header a{
    margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
    color: black;
    
}
.logo{
    display: flex;
    justify-content: start;
    color: aqua;
    border-color: blue;
    display:inline-block;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-decoration: none;
}
.logo:hover{
    color: blue;
    transform-origin: center;
    transform: scaleX(-90deg) translateY(100%);
}

.nomer{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-family: 'Pacifico', cursive;
    font-size: 900;
}
.nomer>a{
    color: brown;
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    background: #fff0f0;
    border: 2px solid;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    text-decoration: none;
   
}
.nomer>a:hover{
    background-color: #bd9797;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    width: 60%;
}

.anime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 100;
    width: 60%;
    font-family: 'Pacifico', cursive;
}
.anime img {
    width: 100%;
}
.text{
    display: flex;
    justify-self: center;
    background-color: #72a7c888;
}
.text::after{
    content: "";
}
#wikipedia{
    color: brown;
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    background: #fff0f0;
    border: 2px solid;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    text-decoration: none;
}
#zagonka{
    color: brown;
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    background: #fff0f0;
    border: 2px solid;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    text-decoration: none;
}
.text{
    display: flex;
    justify-content: flex-end;
}
footer{
    margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
    background-color: #72a7c888;
    height: 100%;
    width: 100%;
    padding:10px 0;
    text-align: center;
    color:white;
}
a:hover{
    color: blue;
    text-decoration: none;
}
#zagonka:hover{
    color: blue;
    background-color: #bd9797;
}
#wikipedia:hover{
    color: blue;
    background-color: #bd9797;
}
#opening{
    color: brown;
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    background: #fff0f0;
    border: 2px solid;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    text-decoration: none;
}
#opening:hover{
    color: blue;
    background-color: #bd9797;
}
#info{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-image: url(pictures/fon.png)
}
/*Медиа-запрос для ширины 320px - мобильные устройства*/
@media (min-width: 320px) { 
    /*Стили для минимальной ширины в 320px*/
}

/*Медиа-запрос для ширины 768px - планшеты*/
@media (min-width: 768px) { 
    /*Стили для минимальной ширины в 768px*/
}

/*Медиа-запрос для ширины 1200px - десктопы*/
@media (min-width: 1200px) { 
    /*Стили для минимальной ширины в 1200px*/
}

/*Медиа-запрос для ширины 1400px - большие экраны*/
@media (min-width: 1400px) { 
    /*Стили для минимальной ширины в 1400px*/
}
